<a href = "https://github.com/Deveo/ember-sliding-sticky/blob/gen-1/tests/dummy/app/pods/window/template.hbs">Source of this page</a>

<h2 class='scroll-header'>Scroll 🡳</h2>

<div class = 'content'  id = 'the-content'>

  {{#sliding-sticky
    class = 'item foo'
    id    = 'sliding-sticky-1'
  }}
    <span>Foo</span>
  {{/sliding-sticky}}


  {{#sliding-sticky
    class = 'item bar'
    id    = 'sliding-sticky-2'
  }}
    <span>Bar</span>
  {{/sliding-sticky}}

  <div class = 'item baz'  id = 'static-item'>
    <span>Baz</span>
  </div>

</div>{{! parent }}