* {
  box-sizing : border-box;
}

#scroll-container {
  margin-top    : calc(100vh - 250px);
  margin-bottom : calc(100vh - 250px);
  margin-left   : 100px;
  margin-right  : 100px;
  width         : 800px;
  height        : 500px;
  padding       : 100px;
  overflow-y    : scroll;
  outline       : 1px solid deeppink;
}

.content {
  min-height : 500px;
  outline    : 1px solid deepskyblue;
}

.content.last {
  height: 100vh
}

.item {
  border       : 10px solid palegreen;
  width        : 100px;
  margin-right : 50px;
  display      : table;
  /*transition   : transform 0.5s ease-in-out*/
}

.item span {
  display        : table-cell;
  text-align     : center;
  vertical-align : middle;
  position       : relative;
}

.item span:before, .item span:after {
  display   : block;
  position  : absolute;
  left      : 50%;
  transform : translate3d(-50%, 0, 0);
}

.item span:before {
  top      : 0;
}

.item span:after {
  bottom   : 0;
}

.item.foo span:before {
  content: '<foo>'
}

.item.foo span:after {
  content: '</foo>'
}

.item.bar span:before {
  content: '<bar>'
}

.item.bar span:after {
  content: '</bar>'
}

.item.baz span:before {
  content: '<baz>'
}

.item.baz span:after {
  content: '</baz>'
}

#the-content {
  padding:     100px;
  display:     flex;
  align-items: flex-start;
}

.item.foo {
  height : 100px;
}

.item.bar {
  height : 700px;
}

.item.baz {
  height : 1000px;
}
