* {
  box-sizing : border-box;
}

#scroll-container {
  position   : fixed;
  top        : 100px;
  left       : 100px;
  width      : 700px;
  height     : 500px;
  padding    : 100px;
  overflow-y : scroll;
  outline    : 1px solid deeppink;
}

.content {
  min-height : 500px;
  outline    : 1px solid deepskyblue;
}

.item {
  border       : 10px solid palegreen;
  width        : 100px;
  margin-right : 50px;
  transition   : transform 0.5s ease-in-out
}

#the-content {
  padding     : 100px;
  display     : flex;
  align-items : flex-start;
  position    : relative;
}

#static-item {
  height : 1000px;
}

#sliding-sticky-2 {
  height : 700px;
}
