<a href = "https://github.com/Deveo/ember-sliding-sticky/blob/gen-1/tests/dummy/app/pods/index/template.hbs">Source of this page</a>

<br>
<br>

<div id = 'scroll-container'>
  <h2 class='scroll-header'>Scroll 🡳</h2>

  <div class = 'content'  id = 'the-content'>

    {{#sliding-sticky
      class                     = 'item foo'
      slidingStickyScrollParent = '#scroll-container'
    }}
      <span>Foo</span>
    {{/sliding-sticky}}


    {{#sliding-sticky
      class                     = 'item bar'
      slidingStickyScrollParent = '#scroll-container'
    }}
      <span>Bar</span>
    {{/sliding-sticky}}

    <div class = 'item baz'>
      <span>Baz</span>
    </div>

  </div>{{! parent }}
</div>{{! scroll-container }}