<div id = 'scroll-container'>
  <div class = 'content'></div>

  <div class = 'content'  id = 'the-content'>

    {{#sliding-sticky
      class                     = 'item foo'
      slidingStickyScrollParent = '#scroll-container'
    }}
      <span>Foo</span>
    {{/sliding-sticky}}


    {{#sliding-sticky
      class                     = 'item bar'
      slidingStickyScrollParent = '#scroll-container'
    }}
      <span>Bar</span>
    {{/sliding-sticky}}

    <div class = 'item baz'>
      <span>Baz</span>
    </div>

  </div>{{! parent }}

  <div class = 'content'></div>
</div>{{! scroll-container }}